.photoArticle{
    width:300px;
    img{
        width: 100%;
        border: blueviolet 2px ridge;
        border-radius: 10px;
    }
}

.blocDescription{
    text-align: center;
    color: rgb(204, 13, 204);
    font-style: italic;
}

.blocQuantite{
    display: flex;
    flex-direction: column;
    text-align: right;

    &__blocQuantite__sousBloc{
        display: flex;
        flex-direction: column;
    }
}

.blocSelecteur{
    left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__selectionCouleur{
        text-align: center;
        width: 40% !important;
        justify-content: center;

    }
    &__exempleCouleur{
        width: 20px;
        height: 20px;
    }
}

