.page_main_panier{
    height: 100vh;
    background-color: #F3E9F1;
}

.panier{
   display: flex;
    &__articles{
        height: auto;
        padding: 0, 0, 0, 0;

    }
    &__contact{
        background-color: blue;
        height: 100px 
    }
}

.blocFormulaire {
    display: flex;
    align-items: flex-start;

}

.comErreur{
    display: none;
    color: redsq;
}
